<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (locals.pageTitle){ %>
        <title><%= pageTitle %></title>
    <% } else { %>
        <title>Mat's Blog</title>
    <% } %>
    <link rel="stylesheet" href="/css/main.css">

    <% if (locals.styles) { %>
        <% styles.forEach( (style) => { %>
            <link rel="stylesheet" href="<%- style %>" />
        <% } ) %>
    <% } %>

    <% if (locals.scripts) { %>
        <% scripts.forEach( (script) => { %>
            <script src="<%- script %>" type="text/javascript"></script>
        <% } ) %>
    <% } %>

</head>
<body>
    <div id='page_container'>
        <header>
            <nav>
                <a href='/'>Home</a>
            </nav>
        </header>

        <div class="content">
            <% if (locals.messages){ %>
                <% messages.forEach( (msg) => { %>
                    <div class="message"><%= msg %></div>
                <% }); %>
            <% } %>
            <% if (locals.errors){ %>
                <% errors.forEach( (error) => { %>
                    <div class="error"><%= error %></div>
                <% }); %>
            <% } %>
            <%- include(content) %>
        </div>

        <footer>
            <div class='footer_content'>
                Copyright 2019
            </div>
        </footer>
    </div>
</body>
</html>